/*
    A simple stopwatch application
    Copyright (C) 2014  Lee Schroeder

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_DIALOG_MAIN DIALOGEX 0, 0, 210, 60
STYLE DS_SHELLFONT | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Stopwatch"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    /* Timer */
    EDITTEXT IDC_TIME_DAY, 5, 5, 25, 14, WS_CHILD | WS_VISIBLE | ES_READONLY | ES_RIGHT | ES_NUMBER
    LTEXT ":", IDC_STATIC, 35, 6, 5, 14
    EDITTEXT IDC_TIME_HOUR, 45, 5, 25, 14, WS_CHILD | WS_VISIBLE | ES_READONLY | ES_RIGHT | ES_NUMBER
    LTEXT ":", IDC_STATIC, 75, 6, 5, 14
    EDITTEXT IDC_TIME_MIN, 85, 5, 25, 14, WS_CHILD | WS_VISIBLE | ES_READONLY | ES_RIGHT | ES_NUMBER
    LTEXT ":", IDC_STATIC, 115, 6, 5, 14
    EDITTEXT IDC_TIME_SEC, 125, 5, 25, 14, WS_CHILD | WS_VISIBLE | ES_READONLY | ES_RIGHT | ES_NUMBER
    LTEXT ":", IDC_STATIC, 155, 6, 5, 14
    EDITTEXT IDC_TIME_MS, 165, 5, 25, 14, WS_CHILD | WS_VISIBLE | ES_READONLY | ES_RIGHT | ES_NUMBER
    /* Timer Label */
    LTEXT "Days", IDC_STATIC, 5, 20, 25, 14
    LTEXT "Hours", IDC_STATIC, 45, 20, 25, 14
    LTEXT "Minutes", IDC_STATIC, 85, 20, 25, 14
    LTEXT "Seconds", IDC_STATIC, 125, 20, 25, 14
    LTEXT "Milliseconds", IDC_STATIC, 165, 20, 40, 14
    /* Timer Controls */
    DEFPUSHBUTTON "&Start", IDC_START_TIMER, 15, 40, 54, 14
    PUSHBUTTON "&Reset", IDC_RESET_TIMER, 74, 40, 54, 14
    PUSHBUTTON "&Copy", IDC_COPY_TIMER, 133, 40, 54, 14
END

STRINGTABLE
BEGIN
    IDS_EROR_CAPTION "Stopwatch Error"
    IDS_ERROR_DIALOG "Unable to create the dialog. Make\nsure you have enough system\nresources to run this application."
    IDS_CONTROL_START "&Start"
    IDS_CONTROL_PAUSE "&Pause"
    IDS_ERROR_TIMER "Unable to create a timer needed for\nthe core functionality of the program."
    IDS_COPY "%s:%s:%s:%s:%s"
END
